fastapi
uvicorn
python-dotenv
PyPDF2
faiss-cpu==1.7.4
langchain
langchain-google-genai
google-generativeai
python-multipart
beautifulsoup4
fpdf
pandas
python-docx
textract
pdf2image
asyncpg

langchain==0.1.8
langchain-community==0.0.21
langchain-core==0.1.24
langchain-openai==0.0.6
mysql-connector-python==8.3.0
groq==0.4.2
langchain-groq==0.0.1
psycopg2
anthropic
langchain-anthropic
pdfplumber